<section id="projects" class="featured container section">
  <h3 class="featured__subtitle">Featured Project</h3>
  <h2 class="featured__title">Par-Kea Colombia</h2>
  <p class="featured__description">
    App created with Android Studio using Java for the back-end and
    XML for the front. The project implements Google's api
    (Google Cloud) using the google maps
  </p>
  <div class="featured__info-container">
    <div>
      <h3 class="featured__label">Tech Stack</h3>
      <ul class="feauted__tech-stack">
        <li class="featured__info">Android Studio</li>
        <li class="featured__info">Java</li>
        <li class="featured__info">XML</li>
        <li class="featured__info">SQL</li>
        <li class="featured__info">Stripe</li>
        <li class="featured__info">Kotlin</li>
      </ul>
    </div>
    <div>
      <h3 class="featured__label">Project Type</h3>
      <p class="featured__info">FullStack App</p>
    </div>
    <div>
      <h3 class="featured__label">Timeline</h3>
      <p class="featured__info">May 2023 - June 2023</p>
    </div>
  </div>
  <div class="featured__img-container">
    <div class="featured__img-wrapper">
      <img src="assets/inicioSesion.jpg" alt="parkeaColombia inicio">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/registro1.jpg" alt="parkeaColombia r1">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/registro3.jpg" alt="parkeaColombia r3">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/mapa1.jpg" alt="parkeaColombia mapa1">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/mapa2.jpg" alt="parkeaColombia mapa2">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/stripe1.jpg" alt="parkeaColombia stripe1">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/infoParqueadero.jpg" alt="parkeaColombia infoparkea">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/parqueaderos.jpg" alt="parkeaColombia parkea">
    </div>
    <div class="featured__img-wrapper">
      <img src="assets/qr.jpg" alt="parkeaColombia qr">
    </div>
  </div>

</section>

