<main>
  <section id="about" class="hero container">
    <img class="hero__img" src="assets/MIGUEL.jpg" alt="Profile picture" />
    <h2 class="hero__subtitle">Hi, I'm Miguel Angel 👋</h2>
    <h1 class="hero__title">Systems Engineer</h1>
    <p class="hero__description">
      An enthusiastic Systems Engineer / Frontend - Backend - Android/ web and
      app developer
    </p>
    <a class="hero__reach btn" href="#contact">Reach out</a>
  </section>
  <section id="skills" class="about container section">
    <div class="about__content">
      <h2 class="about__title">About Me</h2>
      <p class="about__description">
        Systems Engineer from "Universidad el Bosque". I am characterized by
        being persevering, responsible and respectful. I consider myself someone
        very capable and confident when working in a team. I am willing to learn
        every day with the intention of growing and achieving my personal and
        professional goals.
      </p>
      <hr class="about__hr" />
      <h3 class="about__subtitle">Tech Skills</h3>
      <div class="about__ul-container">
        <ul class="about__ul">
          <li class="about__list">Java</li>
          <li class="about__list">JavaScript</li>
          <li class="about__list">C#</li>
          <li class="about__list">HTML</li>
          <li class="about__list">HTML</li>
        </ul>
        <ul class="about__ul">
          <li class="about__list">CSS</li>
          <li class="about__list">Angular</li>
          <li class="about__list">Dart (Learning)</li>
          <li class="about__list">Flutter (Learning)</li>
        </ul>
      </div>
    </div>
    <div class="about__img-wrapper">
      <img class="about__img" src="assets/Me.JPG" alt="" />
    </div>
  </section>
</main>
