<section id="works" class="work container section">

  <h2 class="work__title">Projects</h2>
  <p class="work__description">
    Projects carried out during the career.
  </p>
  <!-- Project 1 -->
  <h3 class="work__project-title">BOSTINDER</h3>
  <div class="work__img-wrapper">
    <img src="assets/Bostinder.png" alt="Bostinder"/>
  </div>
  <p class="work__project-description1">
    Bostinder is a dating software
  </p>
  <p class="work__project-description2">
    Ejemplo de parrafo2
  </p>
  <a class="btn work__project-btn" target="_blank" href="https://github.com/Mgonzal3z/ProyectoTinder">GitHub</a>
  <!-- Project 2 -->
  <h3 class="work__project-title">Picas y Fijas</h3>
  <div class="work__img-wrapper">
    <img src="assets/Bostinder.png" alt="PicasyFijas"/>
  </div>
  <p class="work__project-description1">
    Bostinder is a dating software
  </p>
  <p class="work__project-description2">
    Ejemplo de parrafo2
  </p>
  <a class="btn work__project-btn" target="_blank" href="https://github.com/Mgonzal3z/Picas-y-Fijas">GitHub</a>
  <!-- Project 3 -->
</section>
